<% provide(:title, 'About Us') %>

    <h1>About Us</h1>
    <div class="well col-md-offset-2 col-md-8">
	    <p>
	      JsTwitter is built at <a href="www.jaaga.in/study">Jaaga</a>. Made while learning Rails, not exactly as a product. We hope to make it constantly better. Give a <a href="www.github.com/prank7/sample_app">Fork</a> to improve it.
	    </p>
	</div>
  