<% provide(:title, 'Contact') %>

    <h1>Contact Us</h1>
    <p>
      Micheal is just brilliant in his tutorials. If struck or in problem reach micheal at @mhartl in <a href="http://twitter.com/"">Twitter</a>.  </p>