<% provide(:title, 'Help') %>

    <h1>Help</h1>
    <div class="well col-md-offset-2 col-md-8">
	    <p>
	      Want Help? Sorry! :P</br>
	      Offering help? Most welcome, Give a <a href="http://www.github.com/prank7/sample_app">Fork</a> to improve it.
	    </p>
	</div>
  