<footer class="footer">
  <small>
    Made in Banjarapalya
  </small>
  <div class="center col-md-6">
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://github.com/prank7/sample_app">Code</a></li>
    </ul>
  </div>
</footer>